<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Web_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>upload111</display-name>
    <servlet-name>upload111</servlet-name>
    <servlet-class>S3_programs.upload111</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload111</servlet-name>
    <url-pattern>/upload111</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadObject</display-name>
    <servlet-name>uploadObject</servlet-name>
    <servlet-class>S3_programs.uploadObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadObject</servlet-name>
    <url-pattern>/uploadObject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showComplaintDetails</display-name>
    <servlet-name>showComplaintDetails</servlet-name>
    <servlet-class>S3_programs.showComplaintDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showComplaintDetails</servlet-name>
    <url-pattern>/showComplaintDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayDetails</display-name>
    <servlet-name>displayDetails</servlet-name>
    <servlet-class>S3_programs.displayDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayDetails</servlet-name>
    <url-pattern>/displayDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findMissingPerson</display-name>
    <servlet-name>findMissingPerson</servlet-name>
    <servlet-class>rekognition.findMissingPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findMissingPerson</servlet-name>
    <url-pattern>/findMissingPerson</url-pattern>
  </servlet-mapping>
</web-app>